<!DOCTYPE html>
<html>

<head>
  <title>InternSphere</title>
  <link rel="stylesheet" href="css\home.css">
  <link rel="stylesheet" href="css\companies.css">
  <link rel="stylesheet" type="text.css"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
  <link rel="stylesheet" href="assets/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?
  family=dosis&isplay=swap" rel="stylesheet">


</head>

<!--  navbar section  -->
<Special-Header></Special-Header>
<!-- Main section -->
<h1 class="heading">Companies</h1>

<div class="companies-container">
  <div class="container">
    <h2 class="para">Post an Internship</h2>
    <p class="para">If your company is interested in posting an internship opportunity on our website, please fill out
      the form below:</p>
    <form>
      <label for="company-name">Company Name:</label>
      <input type="text" id="company-name" name="company-name">
      <br>
      <label for="description">Description:</label>
      <textarea id="description" name="description"></textarea>
      <br>
      <label for="location">Location:</label>
      <input type="text" id="location" name="location">
      <br>
      <label for="start-date">Start Date:</label>
      <input type="date" id="start-date" name="start-date">
      <br>
      <label for="end-date">End Date:</label>
      <input type="date" id="end-date" name="end-date">
      <br>
      <input type="submit" value="Submit">
    </form>
    <p class="para">If your company is interested in partnering with us to connect with talented students from
      universities across the country, please email us at <a
        href="mailto:partnerships@mywebsite.com">partnerships@mywebsite.com</a>.</p>
  </div>
</div>


<!-- footer section -->

<Special-Footer></Special-Footer>

<script src="./FooterHeader.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js"
  integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js"
  integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script>
</body>

</html>