<!DOCTYPE html>
<html lang="UTF-8">
   <head>
    <link rel="stylesheet" href="hulu.css">
    <link rel="stylesheet" type="text.css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link href="https://fonts.googleapis.com/css?
    family=dosis&isplay=swap" rel="stylesheet">
   
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>interns</title>
   
</head>
<body>

    <div class="btn">
        <button onclick="window.location.href='hulu.html';" class="primary-btn">Home</button>
       
       </div>
   

    <div class="fileds">
        <div class="details">
          <div class="sub-details">
                      <h5> Assistant Coding Teacher (Internship)</h5>
                      <h5 class="level">EAGLE COMPUTER TECHNOLOGY PLC (EAGLE CODING) </h5>
                 </div>
                   <p>
                   

Location: Addis Ababa and Hawassa, Ethiopia
 
Location: from Geezjobs 2 days ago
Responsibilities:Assist the lead coding teacher in preparing and delivering coding lessons to students. Provide support and guidance to students during coding activities, projects, and exercises. Foster a positive and i...
                    </p>
                     <button>show more</button>
           </div>
      </div>
      
      <div class="fileds">
        <div class="details">
          <div class="sub-details">
                      <h5> Assistant Coding Teacher (Internship)</h5>
                      <h5 class="level">EAGLE COMPUTER TECHNOLOGY PLC (EAGLE CODING) </h5>
                 </div>
                   <p>
                   

Location: Addis Ababa and Hawassa, Ethiopia
 
Location: from Geezjobs 2 days ago
Responsibilities:Assist the lead coding teacher in preparing and delivering coding lessons to students. Provide support and guidance to students during coding activities, projects, and exercises. Foster a positive and i...
                    </p>
                     <button>show more</button>
           </div>
      </div>
      


      <div class="fileds">
        <div class="details">
          <div class="sub-details">
                      <h5> Assistant Coding Teacher (Internship)</h5>
                      <h5 class="level">EAGLE COMPUTER TECHNOLOGY PLC (EAGLE CODING) </h5>
                 </div>
                   <p>
                   

Location: Addis Ababa and Hawassa, Ethiopia
 
Location: from Geezjobs 2 days ago
Responsibilities:Assist the lead coding teacher in preparing and delivering coding lessons to students. Provide support and guidance to students during coding activities, projects, and exercises. Foster a positive and i...
                    </p>
                     <button>show more</button>
           </div>
      </div>
      
      <div class="fileds">
        <div class="details">
          <div class="sub-details">
                      <h5> Assistant Coding Teacher (Internship)</h5>
                      <h5 class="level">EAGLE COMPUTER TECHNOLOGY PLC (EAGLE CODING) </h5>
                 </div>
                   <p>
                   

Location: Addis Ababa and Hawassa, Ethiopia
 
Location: from Geezjobs 2 days ago
Responsibilities:Assist the lead coding teacher in preparing and delivering coding lessons to students. Provide support and guidance to students during coding activities, projects, and exercises. Foster a positive and i...
                    </p>
                     <button>show more</button>
           </div>
      </div>
      
      <div class="fileds">
        <div class="details">
          <div class="sub-details">
                      <h5> Assistant Coding Teacher (Internship)</h5>
                      <h5 class="level">EAGLE COMPUTER TECHNOLOGY PLC (EAGLE CODING) </h5>
                 </div>
                   <p>
                   

Location: Addis Ababa and Hawassa, Ethiopia
 
Location: from Geezjobs 2 days ago
Responsibilities:Assist the lead coding teacher in preparing and delivering coding lessons to students. Provide support and guidance to students during coding activities, projects, and exercises. Foster a positive and i...
                    </p>
                     <button>show more</button>
           </div>
      </div>
      
      <div class="fileds">
        <div class="details">
          <div class="sub-details">
                      <h5> Assistant Coding Teacher (Internship)</h5>
                      <h5 class="level">EAGLE COMPUTER TECHNOLOGY PLC (EAGLE CODING) </h5>
                 </div>
                   <p>
                   

Location: Addis Ababa and Hawassa, Ethiopia
 
Location: from Geezjobs 2 days ago
Responsibilities:Assist the lead coding teacher in preparing and delivering coding lessons to students. Provide support and guidance to students during coding activities, projects, and exercises. Foster a positive and i...
                    </p>
                     <button>show more</button>
           </div>
      </div>
      
      <div class="fileds">
        <div class="details">
          <div class="sub-details">
                      <h5> Assistant Coding Teacher (Internship)</h5>
                      <h5 class="level">EAGLE COMPUTER TECHNOLOGY PLC (EAGLE CODING) </h5>
                 </div>
                   <p>
                   

Location: Addis Ababa and Hawassa, Ethiopia
 
Location: from Geezjobs 2 days ago
Responsibilities:Assist the lead coding teacher in preparing and delivering coding lessons to students. Provide support and guidance to students during coding activities, projects, and exercises. Foster a positive and i...
                    </p>
                     <button>show more</button>
           </div>
      </div>
      
      <div class="fileds">
        <div class="details">
          <div class="sub-details">
                      <h5> Assistant Coding Teacher (Internship)</h5>
                      <h5 class="level">EAGLE COMPUTER TECHNOLOGY PLC (EAGLE CODING) </h5>
                 </div>
                   <p>
                   

Location: Addis Ababa and Hawassa, Ethiopia
 
Location: from Geezjobs 2 days ago
Responsibilities:Assist the lead coding teacher in preparing and delivering coding lessons to students. Provide support and guidance to students during coding activities, projects, and exercises. Foster a positive and i...
                    </p>
                     <button>show more</button>
           </div>
      </div>
      
      <div class="fileds">
        <div class="details">
          <div class="sub-details">
                      <h5> Assistant Coding Teacher (Internship)</h5>
                      <h5 class="level">EAGLE COMPUTER TECHNOLOGY PLC (EAGLE CODING) </h5>
                 </div>
                   <p>
                   

Location: Addis Ababa and Hawassa, Ethiopia
 
Location: from Geezjobs 2 days ago
Responsibilities:Assist the lead coding teacher in preparing and delivering coding lessons to students. Provide support and guidance to students during coding activities, projects, and exercises. Foster a positive and i...
                    </p>
                     <button>show more</button>
           </div>
      </div>
      
      <div class="fileds">
        <div class="details">
          <div class="sub-details">
                      <h5> UNICEF Internship</h5>
                      <h5 class="level">Programme WASH Intern </h5>
                 </div>
                   <p>
                    Full-time 6 months Mekelle (for Tigray region residents only), Shire, Ethiopia
Location: from Unjobs a week ago
UNICEF Internship: Programme WASH Intern Full-time 6 months Mekelle (for Tigray region residents only), Shire, EthiopiaUNICEF Internship: Programme WASH Intern Full-time 6 months Mekelle (for Tigray region residents only), Shire, Ethiopia UNICEF - United
Location: Addis Ababa and Hawassa, Ethiopia
 
Location: from Geezjobs 2 days ago
Responsibilities:Assist the lead coding teacher in preparing and delivering coding lessons to students. Provide support and guidance to students during coding activities, projects, and exercises. Foster a positive and i...
                    </p>
                     <button>show more</button>
           </div>
      </div>
      







    <!--<div class="jobs">
   <pre>   
Assistant Coding Teacher (Internship)
EAGLE COMPUTER TECHNOLOGY PLC (EAGLE CODING)
Location: Addis Ababa and Hawassa, Ethiopia
 
Location: from Geezjobs 2 days ago
Responsibilities:Assist the lead coding teacher in preparing and delivering coding lessons to students. Provide support and guidance to students during coding activities, projects, and exercises. Foster a positive and i...
<a href="3">SHOW MORE></a>

UNICEF Ethiopia Internship: 
Programme Monitoring Evaluation Intern, Mekele, Ethiopia
Location: from Unjobs a week ago
UNICEF Ethiopia Internship: Programme Monitoring Evaluation
Intern, Mekele, EthiopiaUNICEF Ethiopia 
Internship: Programme Monitoring Evaluation Intern, Mekele, Ethiopia UNICEF - United Nations Children's Fund Updated: 2023-05-21T17:11:33Z
<a href="3">SHOW MORE></a>

Internship: Social and Behavior Change Intern, Mekele, Ethiopia
Location: from Unjobs a week ago
Internship: Social and Behavior Change Intern, Mekele, EthiopiaInternship: Social and Behavior Change Intern, Mekele, Ethiopia UNICEF - United Nations Children's Fund Updated: 2023-05-21T17:12:31Z
SHOW MORE>

Internship: Nutrition Intern (two positions), Mekelle Shire, Ethiopia
Location: from Unjobs a week ago
Internship: Nutrition Intern (two positions), Mekelle Shire, EthiopiaInternship: Nutrition Intern (two positions), Mekelle Shire, Ethiopia UNICEF - United Nations Children's Fund Updated: 2023-05-21T17:19:03Z
SHOW MORE>

<a href="3">SHOW MORE></a>


Internship
NOW
Location: Addis Ababa
 
Location: from Ethiojobs 2 weeks ago
Vacancy Announcement 097/2023 Internship - Project Management Support Climate Cluster Contract duration: 30.11.2023 Application deadline: 28.05.2023 Duty station: Addis Ababa As an international cooperation enterpris
SHOW MORE>
Internship, Graphic Designer_based in Addis Ababa, Addis Ababa, Ethiopia
Location: from Unjobs 2 weeks ago
Internship, Graphic Designer_based in Addis Ababa, Addis Ababa, EthiopiaInternship, Graphic Designer_based in Addis Ababa, Addis Ababa, Ethiopia WFP - World Food Programme Updated: 2023-05-15T00:11:15Z
<a href="3">SHOW MORE></a>


Communication - Internship
GIZ
Location: Addis Ababa, Addis Abeba, Ethiopia
 
Location: from Geezjobs 3 weeks ago
Vacancy Announcement 087/2023Position: Intern CommunicationsClimate Change ClusterSustainable Energy for Smallholder Farmers in Ethiopia, Kenya, and Uganda (SEFFA)Contract duration: 31.12.2023Application deadline: 22.0...
<a href="3">SHOW MORE></a>


Term of Reference - Call for the Internship Opportunity
TODAY
Location:
 
Location: from Ethiojobs 3 weeks ago
Introduction to ENSP Stichting Wageningen Research (SWR) is an international NGO registered in Ethiopia since March 2021 with the FDRE Agency for Civil Society Organizations. The organization is established with the objectives of promoting a more re
<a href="3">SHOW MORE></a>


Finance Intern
TODAY
Location: Addis Ababa
 
Location: from Ethiojobs 4 weeks ago
UNOPS Ethiopia Multi-Country Office (ETMCO) exciting Internship opportunity UNOPS-ETMCO is recruiting for this position: Finance Intern, based in Addis Ababa, Ethiopia. Qualified women (female) candidates are encouraged to apply. The int
SHOW MORE>
Tigray Region Programme Monitoring Evaluation Intern
UNICEF
Location: Mekelle and Shire, Ethiopia
 
Location: from Geezjobs a month ago
The overall purpose of this internship is to support the Tigray PMU in assessing the quality and minimum standards of humanitarian response and recovery interventions, as well as collect feedback from the affected popul...
<a href="3">SHOW MORE></a>


Logistics Administrative Assistant Intern
NOW
Location: Addis Ababa, Addis Ababa
 
Location: from Ethiojobs a month ago
REPORTS TO: Program Operations Officer
 LOCATION: Addis Ababa, Amref Country Office I. 
 JOB SUMMARY: Amref Health Africa in Ethiopia is offering a paid internship opportunity to new graduate youth. The selected youth
<a href="3">SHOW MORE></a>


Intern
UNITED NATION ECONOMIC COMMISSION FOR AFRICA (ECA)
Location: Addis Ababa, Ethiopia
 
Location: from Geezjobs a month ago
This profile is for the sole purpose of the Internship Programme of the United Nations Conference for Trade and Development.
There should be no expectation of employment within the UN after an internship. Interns shall ...
<a href="3">SHOW MORE></a>


Corporate Intern
NOW
Location: Addis Ababa
 Location: from Ethiojobs a month ago
Registration for our 3rd round Corporate Internship Development Program (CIDP) is now up and running.
 Calling out for interns that are passionate and open to learn about consultancy.
  This program provides you with the opportunity to work with different de
<a href="3">SHOW MORE></a>


Content Researcher and Social Media Contributor
SPOTLIGHT ETHIO
Location: ethiopia, Ethiopia
 
Location: from Geezjobs a month ago
Student Internship - Content Researcher and Social Media Contributor Company: Spotlight Ethio Magazine 
Location: Ethiopia
About Spotlight Ethio Magazine: Spotlight Ethio Magazine is a premier media company focused o...
<a href="3">SHOW MORE></a>


Emergency Intern
PEOPLE IN NEED - PIN
Location: Hawassa, Ethiopia
 
Location: from Geezjobs 2 months ago
PIN would like to invite an energetic, disciplined, responsible female intern applicant to work under Emergency Program.
Length of internship: for 6 monthsNumber required: 1 (one)Job DescriptionThe Interns will assist th...
<a href="3">SHOW MORE></a>


INTERN - ICT
UNITED NATION ECONOMIC COMMISSION FOR AFRICA (ECA)
Location: Addis Ababa, Ethiopia
  2 months ago
Organization Setting and ReportingThis internship is located in the Publications, Conference,
and Knowledge Management Division, Office of Information and Communications Technology Services Section (ICTSS). The internsh...
<a href="3">SHOW MORE></a>


Internship - Female Applicants Only
GIZ
Location: Addis Ababa, Ethiopia
 
Location: from Geezjobs 2 months ago
Vacancy Announcement 060/2023The Higher tier Cooking Component (HTCC),
as part of the larger ‘Strengthening the Entrepreneurial Ecosystem for the Clean Cooking sector’ project, aims to support the development and growt...
<a href="3">SHOW MORE></a>


Internship
GIZ
Location: Arba Minch, Ethiopia
 
Location: from Geezjobs 2 months ago
Vacancy Announcement 061/2023The Forests4Future (F4F) project is part of a global project to support the implementation of the AFR100 commitments of Ethiopia, Madagascar, Togo, Cameroon, Benin and Ivory cost. The F4F E...
SHOW MORE>


Internship
TODAY
Location: Arba Minch, SNNPR
 
Location: from Ethiojobs 2 months ago
Vacancy Announcement 061/2023 Internship Forests for Future (F4F) Contract duration: 31.07.2023 Application deadline: 11.04.2023 Duty station: Arba Minch The Forests4Future (F4F) project is part of a global proje
SHOW MORE>
</pre>-->

    </div>
</body>
</html>