<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css"
      rel="stylesheet"
    />

    <!-- <link rel="stylesheet" href="css/style.css"> -->
    <link rel="stylesheet" href="css/hulu.css" />
    <link rel="stylesheet" href="css/student-dashbored.css" />
  </head>
  <body>
    <Special-Header></Special-Header>
    
    <div class="c">
      <div class="column">
        <div class="card">
          <img src="img/user.jpg" alt="Profile Image" width="200" />
          <h3>Profile</h3>
          <p><strong>Name:</strong></p>
          <p><strong>Email:</strong></p>
          <p><strong>Internship Position:</strong></p>
          <a href=""><button>Edit</button></a>
          <a href="student-profile.html"><button>View Profile</button></a>
        </div>

        <div class="card">
          <img src="" alt="Opportunities" width="200" />
          <h3>My Application</h3>
          <p>Explore internship opportunities available for you.</p>
          <a href=""><button>View Opportunities</button></a>
        </div>
      </div>

      <div class="column">
        <div class="card">
          <img src="" alt="Internships" width="200" />
          <h3>Internship Opportunities</h3>
          <p>Track your internship application.</p>
          <a href="#"><button>View Opportunities</button></a>
        </div>

        <div class="card">
          <img src="img/engineering.png" alt="Reports" width="200" />
          <h3>Submit Bi-weekly Report</h3>
          <p>Keep your internship progress up-to-date.</p>
          <a href="bi_weekly_report.html"><button>Submit</button></a>
        </div>
        <div class="card">
            <img src="" alt="Reports" width="200" />
            <h3>Submit Bi-weekly Report</h3>
            <p>Keep your internship progress up-to-date.</p>
            <a href="bi_weekly_report.html"><button>Submit</button></a>
          </div>
    </div>

    <Special-Footer></Special-Footer>

    <script src="./FooterHeader.js"></script>
  </body>
</html>
