<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="css/student-profile.css" />
  </head>
  <link
    rel="stylesheet"
    href="https://cdnjs.clouldflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
  />
  <body>
    <div class="sidebar">
      <div class="logo"></div>
      <ul class="menu">
        <li class="active">
          <a href="#">

            <!-- side bar -->
            <img src="internshipp.jpg" alt="Logo" />
            <i class="fas fa-tachometer-alt"></i>
            <span>Dashbored</span>
        </li>
          <li>
            <a href="#">
              <i class="fas fa-home"></i>
              <span class="nav-item">Home</span>
            </a>
          </li>
          <li>
            <a href="#">
              <i class="fas fa-about"></i>
              <span class="nav-item">About Us</span>
            </a>
          </li>
          <li>
            <a href="#">
              <i class="fas fa-service"></i>
              <span class="nav-item">service</span>
            </a>
          </li>
          <li>
            <a href="#">
              <i class="fas fa-contact"></i>
              <span class="nav-item">contact us</span>
            </a>
          </li>
  
          <li>
            <a href="student-profile.html">
              <i class="fas fa-user"></i>
              <span class="nav-item">Profile</span>
            </a>
          </li>
        </li>

          <li>
            <a href="#">
              <i class="fas fa-cog"></i>
              <span class="nav-item">Settings</span>
            </a>
          </li>
          <li>
            <a href="#">
              <i class="fas fa-question-circle"></i>
              <span class="nav-item">Help</span>
            </a>
          </li>
          <li>
            <a href="#" class="logout">
              <i class="fas fa-sign-out-alt"></i>
              <span class="nav-item">Logout</span>
            </a>
          </li>
        </ul>
      </nav>
</div>
<!-- the header part -->

      <div class="main--content">
      <div class="header--wrapper">
        <div class="header--title">
          <span>Dashbored</span>
          <h2>Welcome to student Dashboard</h2>
        </div>
        <div class="user--info">
          <img src="img/user.jpg" alt="fornow" />
        </div>
<!-- the body part -->
      </div>
      <div class="card--container light-purple">
        <h3 class="main--title ">Your Profile</h3>
        <h2></h2>
          <p><strong>Name:</strong></p>
          <p><strong>Email:</strong></p>
          <p><strong>Internship Position:</strong></p>
          <button>Edit</button>
          <button>view profile</button>
        </section>
        <div class="card--wrapper">
            </div>
  
            </div>

            </div>
          
          </div>

        </div>
      </div>
     





















      <!-- Main Content Area -->
      <main>
        <h2></h2>
        <section class="profile">
          

        <section class="tasks">
          <h2>Internship Opportunities</h2>
          <ul>
            <li></li>
            <li>Explore internship avaliable for you.</li>
          </ul>
          <button>View Opportunities</button>
        </section>

        <section class="announcements">
          <h2>My Application</h2>
          <ul>
            <li>Track your internship Application.</li>
          </ul>
          <button>View Opportunities</button>
        </section>
        <section class="announcements">
          <h2>Submit bi-weekly Report</h2>
          <ul>
            <li>Keep internship progress up to date.</li>
          </ul>
          <button>View</button>
        </section>
