<!DOCTYPE html>
<html lang="en">
<head>
    
    <title>universities</title>
    <style>
         
      body
      {
        background:linear-gradient(to right,#da6fcb,#c923a5,#e7e0e6,rgb(202, 195, 201),#6b1b7f);
          
      }
    
.university-list li {
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInUp 10s ease forwards;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

    </style>
</head>
<body>
    
<ul class="university-list">
    <li>empty</li>
    <li>empty</li>
    <li>empty</li>
    <li>empty</li>
    <li>empty</li>
    <li>empty</li>
    <li>empty</li>
    <li>empty</li>
    <li>empty</li>
    <li>empty</li>
    <li>empty</li>
    <li>empty</li>
    <li>empty</li>
    <li>empty</li>
    <li>empty</li>
    <li>empty</li>
    <li>empty</li>
    <li>empty</li>
    <li>empty</li>
    <li>empty</li>
    <li>empty</li>
    <li>empty</li>
    <li>empty</li>
    
  </ul>
  
</body>
</html>  