body {
    margin: 25px;
    text-align: center;
    font-family: 'Dosis', sans-serif;
    background-color: #f6f4f4;
  }
  h2 {
    color: rgb(169, 92, 241);
    font-weight: bold;
    font-size: 76px;
  }
  .companies-container{
    background-color: white;
    border: 3px solid #f1f1f1;
    border-radius: 10px;
    padding: 20px;
    width: 50%;
    box-shadow: 0 0 15px rgb(203, 198, 203);
    margin-top: 100px;
    margin: 3% 25%;
  }
  .para{
    margin: 10px 20px;
    font-size: medium;
    text-decoration: solid,black;
    font-size: 18px;
    line-height: 1.5;
   }
  form {
    text-align: left;
  }
  label {
    display: block;
    margin-bottom: 10px;
  }
  input[type="text"],
  input[type="date"],
  textarea {
    width: 100%;
    padding: 8px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
  }
  input[type="submit"] {
    background-color: purple;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  input[type="submit"]:hover {
    background-color: rgb(137, 41, 246);
  }
 