*{
    margin: 0%;
    padding: 0%;
    font-family: 'dosis',sans-serif;
}

*{
    margin: 0%;
    padding: 0%;
    font-family: 'dosis',sans-serif;
}
@keyframes slide-in {
0% {
  transform: translateX(-100%);
}
100% {
  transform: translateX(0);
}
}
@keyframes slide {
from {margin-left: 0%;}
to {margin-left: 30%;}
}
/* navbar section */

.logo{
    border: #6b1b7f;
    border-radius: 50;
    border-right: #6b1b7f;
}




.hero{
width: 80%;
margin: auto;
}
.navbar{
margin: 12px auto;
display: flex;
align-items: center;
}

.nav li a{
color: purple;
padding: 0 10px;
position: relative;
margin: 0 15px;

}
.navbar-nav li a::after {
content: '';
width: 100%;
height: 10px;
background: darkmagenta;
position: absolute;
left: 50%;
transform: translateX(-50%);
top: -35px;
}
.nav-link:hover{

color: black;
}
/* description section */

.banner{
display: flex;
margin-top: 80px;
}
.left-column,.right-column{
flex-basis: 50%;
}
.right-column img{
width: 50%;
}
.search-box{
width: 85%;
padding-bottom: 3px;
margin: 10px 0 30px;
}
.search-box img{
height: 25px;
width: 15px;
cursor: pointer;
}


.sphere{
color: purple;
}
.left-column p{
font-size: 15px;
color:black;
margin: 15px ;
}
.button-container button{
outline: none;
border: 1px solid purple;
border-radius: 20px;
cursor: pointer;
color: purple;
background: transparent;
}
.button-container .btn-primary:hover{
background: linear-gradient(purple,palevioletred);
color: white;
}
.button-container{
margin-bottom: 50px;
text-align: center;
}
.img-fluid{
border-radius: 10px 20px 30px 40px;
width: 100%;
height: 90%;
}

.social-media-icons{
width: 240px;
position: relative;
margin-left: 160px;
margin-bottom: 1%;
justify-content: center;
}

.social-media-icons a {
margin: 0 100px; 

}

.social-media-icons::after{
content: '';
width: 250px;
height: 1px;
background: #000;
position: absolute;
left: -160px;
top: 10px;
}
.description-1{
font-weight: bolder;
font-size: 100px;
grid-column: 1/-1;
text-align: center;
}
.description-2{
animation: slide-in 3s ease-out both;
font-weight: bold;
font-size: 40px;

}
.description-3 {
animation:slide 10s linear infinite;
font-weight: 600;
font-size: 25px;
}
.description-4 {
text-align:center;
padding: 20px 0;
font-size: 25px;
font-weight: 400; 
line-height:30px; 
}


/* footer section */ 


.footer-container{
width: 100%;
background-color: black;
}
.footer-section{
width: 100%;
border: solid #eeeff5 10px;
}
.footer-col{
width: 25%;
}
.footer-col h4{
font-size: 18px;
color: #ffffff;
text-transform: capitalize;
margin-bottom: 30px;
font-weight: 500;
position: relative;

} 
.footer-col h4::before{
content: '';
position: absolute;
left: 0;
bottom: -10px;
background-color: purple;
height: 2px;
box-sizing: border-box;
width: 70px;
}   
.footer-col ul li:not(:last-child){
margin-bottom: 10px;


}
.footer-col ul li a{
font-size: 14px;
text-transform: capitalize;
color: #ffffff;
text-decoration: none;
font-weight: 300;
color: #bbbbbb;
display: block;
transition: all 0.5s ease;

}
.footer-col ul li a:hover{
color: #ffffff;
padding-left:8px ;
}
.footer-col.social-links{
display: inline-block;
height: 40px;
width: 40px;
background-color: rgba(255, 255, 255, 0.2);
margin: 0 10px 10px 0;
text-align: center;
line-height: 40px;
border-radius: 50px;
color: #ffffff;
transition: all 0.5s ease;

}
.footer-col.social-links a:hover{
color: #24262b;
background-color: #ffffff;
}
@media(max-width:767px){
.footer-col{
    width: 50px;
    margin-bottom: 30px;
}
}
@media(max-width:574px){
.footer-col{
    width: 100px;
    
}
}




.services{
    background:linear-gradient(to right,#da6fcb,#c923a5,#e7e0e6,rgb(202, 195, 201),#6b1b7f);

    opacity: 0;
    transform: translateY(20px);
    animation: fadeInUp 6s ease forwards;
  }
  
  @keyframes fadeInUp {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
    }





.affectAll{
    opacity:0;
    font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
        opacity: 0;
    transform: translateY(20px);
    animation: fadeInUp 6s ease forwards;
  }
  

@import url('https://fonts.googleapis.com/css2?family=poppins:wght@200;400;500;600;700&display=swap');

.signup[body]{
   background: rgb(230, 174, 192);
   width: 100%;
   height: 100vh;
   font-family: sans-serif;
}
.signup{
    width: 360px;
    height: 800px;
    margin: auto;
    background: white;
    border-radius: 3px;
}
.login
{
    width: 360px;
    height: 800px;
    margin: auto;
    background: white;
    border-radius: 3px;
   
}


h1{
    text-align: center;
}
h4{
    text-align: center;
    padding-top: 15px;
}
form{
    width: 300px;
    margin-left: 20px;
}
form label{
    display: flex;
    margin-top: 20px;font-size: 10px;
}
form input{
    width: 250px;
    padding: 7px;
    border: none;
    border: 1px solid purple;
    border-radius: 6px;
    outline: none;
}
input[type="submit"]{
  width: 320px;
  height: 35px;
  margin-top: 20px;
  border: none;
  background-color:#c923a5;
  color: #fff;
  font-size: 10px;
  cursor: pointer;
}
input[type="submit"]{
    color: white;
    background:#c923a5;
}
p{
    text-align:center;
    padding-top: 20px;
    font-size: 15px;


}
.no style{
    margin: 20px 20px;
}

.signup body{
    background: purple;

   } 

/* .row{
    display: flex;
    flex-wrap: wrap;
} */
ul{
    list-style: none;
}

/* Mobile-Friendly Adjustments */
@media (max-width: 768px) {
    special-footer .footer-container {
        flex-direction: column; /* Stack columns */
        align-items: center;
    }
}







